.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .img {
        width: 40%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
    .content {
        width: 55%;
        height: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        button {
            padding: 1.5vh  1vw 1.5vh 1vw;
            width: auto;
            margin-top: 4vh;
        }
        * {
            width: 80%;
            margin: 0;
        }

        h1 {
            font-size: 4rem;
            padding-bottom: 2vh;
        }
    }
}